.aboutus__content {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: aliceblue;
  }
  
  .aboutus__content h1 {
    margin-bottom: 20px;
    margin-top: 80px;
    
  }
  
  .aboutus__content p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
